body,
html {
  width: 100%;
  margin: 0;
  background-color: #302E28;
  display: flex;
  justify-content: center;
  font-size: x-large;
  color: #0f1020;
  font-family: 'Inter';
  font-size: 30px;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

#hide-scrollbar {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

#hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}